/*Desktop*/
@media only screen and (max-width: 1200px) {
  #main .inner > .description {
  max-width: 80%;
  }
}

/*Tablets*/
@media only screen and (max-width: 768px) {
    header{
    padding: 0 15px;
    position: relative;
  }

  .mnu_top{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    z-index: 10;
    background-color: #fff;
  }

  .mnu_top li{
    display: block;
    margin: 10px;
    width: 100%;
  }

  .hamburger{
    display: block;
  }

  #content{
    padding: 30px 0;
  }

  #content .inner_content h2{
    font-size: 26px;
  }

  #content .inner_content p{
    font-size: 14px;
  }
  
  #content_2{
    padding: 30px 0;
  }

  #content_2 .inner_content_2 h2{
    font-size: 26px;
  }

  #content_2 .inner_content_2 ul{
    font-size: 14px;
  }

  #content_3{
    padding: 30px 0;
  }

  #content_3 .inner_content_3 h4{
    font-size: 22px;
  }

  #content_3 .inner_content_3 p{
    font-size: 14px;
  }
}


/*Phones*/
@media only screen and (max-width: 480px) {
  #main .inner > h1{
    font-size: 30px;
  }

  #main .inner > .description{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
 
  .btn{
    font-size: 14px;
  }
  
  #content .inner_content h2{
    font-size: 20px;
  }

  #content .inner_content p{
    font-size: 12px;
  }
  
  #content_2 .inner_content_2 h2{
    font-size: 20px;
  }

  #content_2 .inner_content_2 ul{
    font-size: 12px;
  }

  #content_3 .inner_content_3 h4{
    font-size: 16px;
  }

  #content_3 .inner_content_3 p{
    font-size: 12px;
  }
}